.memo{
  height: 300px;
  width: 250px;
  background-color: rgb(140, 205, 150);
  margin-top: 50px;
  margin-left: 50px;
  border-radius: 5px;
  text-align: left;
}

.title{
  font-size: 25px;
  color: white;
  margin-left: 10px;
}