.TodoInsert{
  display: flex;
  background-color: rgba(255, 255, 255, 0.384);

  input{
    background: none;
    outline: none;
    border: none;
    padding: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.5;
    color: black;
    &::placeholder{
      color: black;
    }
    flex: 1;
  }
}