.TodoTemplate{
  width: 30%;
  height: 605px;
  background-color: rgb(250, 250, 250);
  justify-content: center;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  position: relative;
  top :100px;
  border: 1px solid #a0a096;
  border-radius: 5px;
}

.app-title{
  background: rgb(167, 161, 161);
  color: white;
  height: 4rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content{
  background: white;
}